<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;">
  <h1><a routerLink="/openView" style="color: dimgrey; font-weight: bold"> Westminster Library Controller</a></h1>
  <div align="center">
    <nav>
      <!--this button navigates to add bookModel-->
      <a routerLink="/addBook"><button class="button">Add Book</button></a>
      <!--this button navigates to Add DvdModel-->
      <a routerLink="/addDvd"><button class="button">Add DVD</button></a>
      <!--this button navigates to Delete bookModel-->
      <a routerLink="/deleteBook"><button class="button">Delete Book</button></a>
      <!--this button navigates to Delete DvdModel-->
      <a routerLink="/deleteDvd"><button class="button">Delete DVD</button></a>
      <!--this button navigates to Display list-->
      <a routerLink="/itemList"><button class="button">Display List</button></a>
      <!--this button navigates to Borrow BookModel-->
      <a routerLink="/borrowBook"><button class="button">Borrow Book</button></a>
      <!--this button navigates to Borrow DvdModel-->
      <a routerLink="/borrowDvd"><button class="button">Borrow DVD</button></a>
      <!--this button navigates to Return BookModel-->
      <a routerLink="/returnBook"><button class="button">Return Book</button></a>
      <!--this button navigates to Return DvdModel-->
      <a routerLink="/returnDvd"><button class="button">Return DVD</button></a>
      <!--this button navigates to Generate Report-->
      <a routerLink="/generateReport"><button class="button">Generate Report</button></a>
      <a routerLink="/members"><button class="button">Members</button></a>
    </nav>

  </div>
  <router-outlet></router-outlet>

</div>

